@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #131f24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131f24;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-m-plus-rounded, sans-serif);
}


/* ajouter bouton pour passer en dark mode */